body {
  overflow-x: hidden;
}
header {
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  color: #555555;
  background: transparent;
}
header .logo {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem 0;
  text-decoration: none;
}
header .logo a {
  display: inline-block;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  header {
    z-index: 11;
  }
}
.search-block {
  text-align: right;
}
.search-block i {
  cursor: pointer;
}
.search-block i::before {
  vertical-align: baseline;
}
.search-block.flex_8 {
  transition: all 0.3s;
}
.phone-container {
  padding: 6px 0;
}
.phone-container .phone_1,
.phone-container .phone_2 {
  line-height: 1;
}
footer .phone-container .phone_1,
footer .phone-container .phone_2 {
  vertical-align: baseline;
}
footer .phone-container .phone_1 .tel,
footer .phone-container .phone_2 .tel {
  font-size: 1.4em;
  margin-bottom: 0.25em;
}
footer .phone-container .phone_1 .text,
footer .phone-container .phone_2 .text {
  display: block;
  margin-bottom: 0.25em;
}
footer .phone-container .phone_1 a,
footer .phone-container .phone_2 a {
  margin-bottom: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  header,
  header > div {
    transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
  }
}
.top_line {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #fff;
}
.top_line::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #b8e43f;
}
.top_line a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .top_line span,
  .top_line a {
    display: inline-block;
    vertical-align: middle;
  }
}
.tel::before {
  margin-right: 0.5em;
  font-size: 0.85em;
}
/* SVG Styling*/
.lemon-page {
  right: 0 !important;
  line-height: 1;
}
.lemon-page svg {
  height: 100%;
  max-width: 65%;
  max-height: 65%;
}
@media only screen and (max-width: 480px) {
  .lemon-page svg {
    height: 100%;
  }
}
.lemon-page svg pattern image[href*="/media/"] {
  display: none;
}
.lemon-page ~ .split_it {
  display: block;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .lemon-page svg {
    height: 450px;
  }
}
.split_it {
  display: none;
}
.video-lemon-holder {
  margin: auto;
  animation-delay: 0.5s;
}
.video-lemon-holder .slice {
  fill: #b8e43f;
}
.st0 {
  fill: none;
  stroke: #749846;
  stroke-width: 13;
  stroke-miterlimit: 10;
  background: red;
}
.slice {
  fill: #B8E43F;
  transition: all 0.3s ease;
}
.video-lemon-holder:hover .slice {
  opacity: 0.7;
}
.video-lemon-holder:hover .slice.open-popup-link:hover {
  opacity: 1;
}
.slice.open-popup-link:nth-of-type(1):hover {
  -webkit-transform: translate(-3px, 9px);
  -ms-transform: translate(-3px, 9px);
  -o-transform: translate(-3px, 9px);
  transform: translate(-3px, 9px);
}
.slice.open-popup-link:nth-of-type(2):hover {
  -webkit-transform: translate(-9px, 3px);
  -ms-transform: translate(-9px, 3px);
  -o-transform: translate(-9px, 3px);
  transform: translate(-9px, 3px);
}
.slice.open-popup-link:nth-of-type(3):hover {
  -webkit-transform: translate(-9px, -3px);
  -ms-transform: translate(-9px, -3px);
  -o-transform: translate(-9px, -3px);
  transform: translate(-9px, -3px);
}
.slice.open-popup-link:nth-of-type(4):hover {
  -webkit-transform: translate(-3px, -9px);
  -ms-transform: translate(-3px, -9px);
  -o-transform: translate(-3px, -9px);
  transform: translate(-3px, -9px);
}
.slice.open-popup-link:nth-of-type(5):hover {
  -webkit-transform: translate(3px, -9px);
  -ms-transform: translate(3px, -9px);
  -o-transform: translate(3px, -9px);
  transform: translate(3px, -9px);
}
.slice.open-popup-link:nth-of-type(6):hover {
  -webkit-transform: translate(9px, -3px);
  -ms-transform: translate(9px, -3px);
  -o-transform: translate(9px, -3px);
  transform: translate(9px, -3px);
}
.slice.open-popup-link:nth-of-type(7):hover {
  -webkit-transform: translate(9px, 3px);
  -ms-transform: translate(9px, 3px);
  -o-transform: translate(9px, 3px);
  transform: translate(9px, 3px);
}
.slice.open-popup-link:nth-of-type(8):hover {
  -webkit-transform: translate(3px, 9px);
  -ms-transform: translate(3px, 9px);
  -o-transform: translate(3px, 9px);
  transform: translate(3px, 9px);
}
.line-two-colors > * {
  padding: 2em;
  color: #FFF;
}
.line-two-colors > *:nth-child(1) {
  background-color: #555555;
}
.line-two-colors > *:nth-child(1)::before {
  content: "";
  background-color: #555555;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
}
.line-two-colors > *:nth-child(2) {
  background-color: #b8e43f;
}
.line-two-colors > *:nth-child(2)::before {
  content: "";
  background-color: #b8e43f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
}
.line-two-colors > *:nth-child(2) [type="submit"] {
  color: #fff;
  border-color: #555555;
  background-color: #555555;
}
.line-two-colors > *:nth-child(2) [type="submit"]:hover,
.line-two-colors > *:nth-child(2) [type="submit"]:active,
.line-two-colors > *:nth-child(2) [type="submit"].active {
  color: #fff;
  border-color: #3b3b3b;
  background-color: #3b3b3b;
}
.starrating {
  margin-bottom: 0.5em;
}
.stars-container,
.rating {
  width: auto !important;
}
.total-review,
.r-head-text {
  display: none;
}
.fl-right {
  font-size: 0.85em;
  color: #ccc;
}
#starratingpostreview {
  font-size: 1.5em;
}
.pagerating-review {
  padding-left: 1em;
  margin-bottom: 1.5em;
  border-left: 4px solid #b8e43f;
}
.pagerating-review + .pagerating-review {
  display: none;
}
.pagerating-info {
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 1.25em;
}
.author {
  font-weight: 700;
}
.published {
  color: #ccc;
}
.book-form {
  padding: 2em;
  border-radius: 2em;
}
.team-list {
  margin-bottom: 1rem;
  list-style: none;
  text-align: center;
  font-size: 0;
}
.team-list > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}
.team-list .tpopup {
  display: block;
}
.team-list li {
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
  text-align: center;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .team-list li {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .team-list li {
    width: 98%;
  }
}
.team-list li > img {
  margin-bottom: 0.5em;
}
.team-list span {
  display: block;
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: 700;
}
.team-list .team-preview {
  overflow: hidden;
  border-radius: 50%;
}
.team-list .team-preview img {
  width: 100%;
}
.team-list .team-name {
  font-size: 1.5em;
}
.team-list .team-position {
  margin-bottom: 1em;
  color: #b8e43f;
}
.contact-page {
  margin: 2em 0;
  font-weight: 700;
  font-size: 1.5em;
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
}
.contact-page a {
  margin: 0 1em;
  text-decoration: none;
  color: #555555;
}
.contact-page a::before,
.contact-page address::before {
  margin-right: 0.5em;
  font-size: 0.85em;
  color: #b8e43f;
}
.tagcloud {
  margin-bottom: 2em;
  text-align: center;
}
.tagcloud a {
  margin: 0 0.25em 0.25em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.5em;
  padding: 0 1em;
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  border-color: #555555;
  background-color: #555555;
  border-radius: 0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
}
.tagcloud a:hover,
.tagcloud a:active,
.tagcloud a.active {
  color: #fff;
  border-color: #b8e43f;
  background-color: #b8e43f;
}
.tagcloud a:active,
.tagcloud a.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
.tagcloud a::before {
  content: '# ';
}
.number {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 3.5em;
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: bold;
}
.service-page-body .mfp-counter {
  display: none;
}
.service-testimonials .rating-block-left,
.service-testimonials .rating-block-right {
  display: none;
}
.service-testimonials .review-header {
  margin-top: 0;
}
.service-testimonials .starrating {
  display: none;
}
.video-block iframe {
  width: 100%;
}
.map {
  margin-bottom: 1em;
}
.map-block .areas-we-serve {
  position: relative;
  padding: 0.5em 0;
}
.map-block .areas-we-serve::after {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 103%;
  border: 100px solid transparent;
  border-color: transparent transparent transparent #fff;
  border-width: 225px 70px;
}
.polygonmap {
  max-width: 100%;
}
.imgGmaps {
  display: none;
}
.bubble-info > div {
  width: auto !important;
  height: auto !important;
}
body.news-page {
  font-size: 20px;
}
.first {
  font-size: 7em;
  font-size: 7vw;
}
aside .aside-box {
  margin-bottom: 30px;
}
footer {
  padding: 24px 0;
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  color: #555555;
  background: transparent;
}
footer .tel {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5em;
  color: #b8e43f;
}
footer .footer-images-list {
  margin-top: 3rem;
  font-size: 0;
}
footer .footer-images-list > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
footer .footer-images-list li {
  padding: 0 1.5%;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333333%;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  footer .footer-images-list li {
    width: 31.33333333%;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-images-list li {
    width: 31.33333333%;
  }
}
footer .footer-images-list li + li {
  border-left: 1px solid #739544;
}
footer .footer-images-list li img {
  height: 125px;
  width: auto;
}
.mfp-title {
  display: none;
}
.p-space {
  padding: 3em 0;
}
.animated {
  visibility: visible;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.repeat {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}
.rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
}
#go-top {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #FFF;
  border-color: #b8e43f;
  background-color: #b8e43f;
}
.webPage-go-top {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.webPage-go-top:hover,
.webPage-go-top:active,
.webPage-go-top.active {
  color: #FFF;
  border-color: #b8e43f;
  background-color: #b8e43f;
}
form::after {
  content: "";
  display: table;
  clear: both;
}
form p::after {
  content: "";
  display: table;
  clear: both;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 100%;
  font-weight: normal;
}
form .captcha .captcha_field {
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.5em;
  padding: 0 1em;
  font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #85cc10;
  background-color: #b8e43f;
  border-radius: 0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
  float: left;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.5em;
  margin-right: 0.25em;
}
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  color: #FFF;
  border-color: #669c0c;
  background-color: #a2d21e;
}
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
form .captcha .captcha_image {
  width: 100% !important;
  height: auto !important;
  float: left;
  text-align: center;
  margin-bottom: 1em;
}
form .captcha .captcha_image br {
  display: none;
}
form .captcha .captcha_image span {
  float: left;
}
form .captcha .recaptcha_links {
  float: left;
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
  content: "\e093";
}
form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
  content: "\e0e2";
}
form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
  content: "\e008";
}
form .captcha .recaptcha_links a.recaptcha_help::before {
  content: "\e0e3";
}
form .captcha #recaptcha_audio_play_again::before {
  content: "\e0e4";
}
form .captcha #recaptcha_audio_download::before {
  content: "\e0e1";
}
@media only screen and (max-width: 480px), only screen and (min-width: 800px) {
  aside form .captcha .recaptcha_links {
    width: 100%;
  }
  aside form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  aside form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image span {
    width: 49%;
  }
  aside form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  form .captcha .recaptcha_links {
    width: 100%;
  }
  form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  form .captcha .captcha_image span {
    width: 49%;
  }
  form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
  width: 100%;
}
form [type="submit"] {
  float: right;
  font-size: 1.5em;
}
.primary-bg form [type="submit"] {
  color: #fff;
  border-color: #555555;
  background-color: #555555;
}
.primary-bg form [type="submit"]:hover,
.primary-bg form [type="submit"]:active,
.primary-bg form [type="submit"].active {
  color: #fff;
  border-color: #3b3b3b;
  background-color: #3b3b3b;
}
.book-form form textarea {
  height: 180px;
}
fieldset legend {
  font-size: 1.25em;
}
fieldset.unstyled {
  padding: 0;
  border: 0;
}
fieldset.unstyled legend {
  padding: 0;
  margin-bottom: 0.45em;
  font-weight: bold;
}
label,
.label {
  display: block;
  margin-bottom: 0.25em;
}
label[for],
.label[for] {
  cursor: pointer;
}
label[class*="grid_"],
.label[class*="grid_"] {
  margin-bottom: 0;
}
.label-inline label,
.label-inline .label {
  margin-bottom: 0;
  line-height: 2.5em;
}
label.required::after,
.label.required::after {
  color: #f25f5c;
  content: ' *';
}
.notvalid {
  color: #f25f5c;
}
select,
textarea,
input {
  font-family: "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
  border: 1px solid #bbbbbb;
  background-color: #fff;
  color: #2f2f2f;
  border-radius: 0.5em;
  transition: border 0.3s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #b8e43f;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
  color: #2f2f2f;
}
select.success,
textarea.success,
input.success {
  border-color: #4fc752;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  box-shadow: 0 0 3px #4fc752 inset;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffc159;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  box-shadow: 0 0 3px #ffc159 inset;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #f25f5c;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  box-shadow: 0 0 3px #f25f5c inset;
}
select.info,
textarea.info,
input.info {
  border-color: #28b0ed;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  box-shadow: 0 0 3px #28b0ed inset;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #dddddd;
  background: #eeeeee;
  color: #a2a2a2;
  cursor: not-allowed;
  box-shadow: none;
}
input,
select {
  padding: 0 0.5em;
  height: 2.5em;
  line-height: 1.5em;
}
textarea {
  padding: 0.5em;
  min-height: 5em;
}
textarea.resize {
  resize: vertical;
}
.forgot-password,
.retrieveFormBlock > form + a {
  float: left;
  margin-top: -42px;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: none;
  opacity: 0;
}
.filed-upgrade ~ .checkbox_radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  height: calc(1em + 1px * 2);
  width: calc(1em + 1px * 2);
  line-height: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #bbbbbb;
  color: transparent;
}
.filed-upgrade ~ .checkbox_radio::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.625em;
  height: 0.625em;
}
.filed-upgrade.error ~ .checkbox_radio {
  border-color: #f25f5c;
}
.filed-upgrade:hover ~ .checkbox_radio::before {
  background: rgba(0, 0, 0, 0.1);
}
.filed-upgrade:checked ~ .checkbox_radio {
  border-color: #4fc752;
}
.filed-upgrade:checked ~ .checkbox_radio::before {
  background: #4fc752;
}
.filed-upgrade:disabled ~ .checkbox_radio {
  background: #eeeeee !important;
  border-color: #d5d5d5 !important;
  color: transparent;
}
.filed-upgrade:disabled:checked ~ .checkbox_radio::before {
  background: #a2a2a2 !important;
}
.filed-upgrade[type="radio"] ~ .checkbox_radio,
.filed-upgrade[type="radio"] ~ .checkbox_radio::before {
  border-radius: 10em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: calc(1.25em + 1px * 2);
  line-height: 1.25em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::before {
  font-size: 0.6rem;
  line-height: inherit;
  content: 'OFF';
  background: none;
  color: #f25f5c;
  position: static;
  font-family: "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin-left: 50%;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::after {
  content: '';
  background: #f25f5c;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  border: 1px solid #fff;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::before {
  content: 'ON';
  margin-left: 0;
  color: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::after {
  left: 50%;
  background: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::before {
  color: #a2a2a2 !important;
  background: none !important;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::after {
  background: #a2a2a2 !important;
}
#search-form {
  display: none;
}
#search-form.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
#search-form input {
  width: auto;
  text-align: center;
  border-color: transparent;
  border-bottom: 1px solid #555555;
  color: #555555;
  background-color: transparent;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  border-radius: 0;
}
#search-form button {
  padding: 0 0.65rem;
  font-size: 0;
  color: #555555;
  background-color: transparent;
}
#search-form button::before {
  content: "\e068";
  font-size: 20px;
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dropdown #search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.dropdown #search-form input {
  color: #555555;
}
.dropdown #search-form button {
  width: auto;
  background-color: #b8e43f;
}
.input-label {
  position: relative;
}
.input-label label {
  color: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0.5em;
  z-index: 1;
  line-height: 2.5em;
  transition: all 0.2s;
}
.input-label input {
  border-width: 0 0 1px;
  box-shadow: none !important;
}
.input-label input:focus + label,
.input-label input:valid + label {
  color: #b8e43f;
  top: -0.9em;
  font-size: 0.85em;
  line-height: 1em;
}
.input-label input.success:focus + label,
.input-label input.success:valid + label {
  color: #4fc752;
}
.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
  color: #ffc159;
}
.input-label input.error:focus + label,
.input-label input.error:valid + label {
  color: #f25f5c;
}
.input-label input.info:focus + label,
.input-label input.info:valid + label {
  color: #28b0ed;
}
.img_gallery {
  font-size: 0;
}
.img_gallery > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.img_gallery li {
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
  margin-bottom: 1rem;
  text-align: center;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .img_gallery li {
    width: 31.33333333%;
  }
}
@media only screen and (max-width: 480px) {
  .img_gallery li {
    width: 48%;
  }
}
.img_gallery a {
  display: block;
}
.img_gallery a img {
  width: 100%;
}
.img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  line-height: 1.5;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(184, 228, 63, 0.8);
}
.service-page .img_gallery {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.service-page .img_gallery li {
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.service-page {
  margin-bottom: 2em;
}
.rotator {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.005);
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.slide-wrap {
  padding: 3.75rem 0;
  background: url("../../../media/slider-bg/original/lime-background.jpg") 0 0 no-repeat #b8e43f;
}
.cycle-slideshow {
  overflow: hidden;
  border-radius: 50px;
}
.cycle-slideshow > .tpopup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
}
.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.cycle-slideshow .slide > a.generator-links:not(:first-child),
.cycle-slideshow .slide > a.tpopup:not(:first-child) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cycle-slideshow .slide > img {
  width: 100%;
}
.cycle-slideshow .slide-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  color: #fff;
  background: rgba(85, 85, 85, 0.7);
}
.cycle-slideshow .slide-description .btn {
  font-size: 1.5em;
}
.cycle-slideshow .cycle-pager {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.cycle-slideshow .cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #FFF;
  background: #FFF;
  border-radius: 14px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.cycle-slideshow .cycle-pager > *::before {
  font-size: 10px;
}
.cycle-slideshow .cycle-pager > *:hover {
  background: #a2d21e;
}
.cycle-slideshow .cycle-pager > *.cycle-pager-active {
  cursor: default;
  color: #FFF;
  background: #b8e43f;
}
.cycle-slideshow [class*="cycle-"].action-button {
  background: #b8e43f;
  color: #FFF;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 10px;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
  transition: all 0.3s;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-size: 18px;
}
.cycle-slideshow [class*="cycle-"].action-button:hover {
  background: #a2d21e;
  color: #FFF;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-family: flexkit-icons;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
  left: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
  content: "\e0a9";
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
  right: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
  content: "\e0a7";
}
.cycle-slideshow.reviews-list {
  overflow: visible;
}
.cycle-slideshow.reviews-list > .tpopup {
  top: -30px;
}
.cycle-pager {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  border: 2px solid #b8e43f;
  color: #FFF;
  background: #FFF;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
}
.cycle-pager > *::before {
  font-size: 18px;
}
.cycle-pager > *:hover {
  background: #a2d21e;
}
.cycle-pager > *.cycle-pager-active {
  cursor: default;
  color: #FFF;
  background: #b8e43f;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  font-size: 1.5em;
  background-color: #b8e43f;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev::before,
.swiper-button-next::before {
  font-family: flexkit-icons;
  color: #fff;
}
.swiper-button-next {
  right: 0;
  left: auto;
}
.swiper-button-next::before {
  content: "\e0a7";
}
.swiper-button-prev {
  left: 0;
  right: auto;
}
.swiper-button-prev::before {
  content: "\e0a9";
}
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
@media only screen and (min-width: 801px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
}
@media only screen and (orientation: landscape) {
  .tablet .t_f-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .tablet .top_line {
    font-size: 1em;
  }
  .tablet .sub-menu-btn {
    position: relative;
    float: right;
  }
  .tablet .main_menu .category > a {
    display: inline-block;
    vertical-align: middle;
  }
  .tablet .featureditem.services li .page-title {
    height: 124px;
  }
  .tablet .news-list .news-item {
    max-height: 330px;
  }
  .tablet .news-item-title {
    font-size: 1.15em;
  }
  .tablet .lemon-page svg {
    max-width: 100%;
    max-height: 100%;
  }
  .mobile .lemon-page svg {
    width: 55%;
    height: 50%;
  }
  .mobile .own-franchise {
    font-weight: 700;
    font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
    font-size: 1.35em;
    line-height: 1.15em;
    text-align: center;
    color: #fff;
    background-color: #b8e43f;
  }
  .mobile #search-form {
    display: block;
  }
  .mobile .mobile-wrap-search {
    padding: 1em;
  }
  .mobile .mobile-wrap-search #search-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .mobile .mobile-wrap-search #search-form [type="text"] {
    border-color: #b8e43f;
  }
  .mobile .mobile-wrap-search #search-form button {
    font-size: 18px;
    border-radius: 0 0 0 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    color: #fff;
    border-color: #b8e43f;
    background-color: #b8e43f;
  }
  .mobile .mobile-wrap-search #search-form button:hover,
  .mobile .mobile-wrap-search #search-form button:active,
  .mobile .mobile-wrap-search #search-form button.active {
    color: #fff;
    border-color: #a2d21e;
    background-color: #a2d21e;
  }
  .mobile .mobile-wrap-search #search-form button::before {
    content: '';
  }
  .mobile .map-block .areas-we-serve::after {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .testimonials-slider [class*="cycle-"].action-button {
    top: -50px;
  }
  .testimonials-slider [class*="cycle-"].action-button.cycle-prev {
    left: 0;
  }
  .testimonials-slider [class*="cycle-"].action-button.cycle-next {
    right: 0;
  }
}
@media only screen and (max-width: 800px) {
  body.news-page {
    padding-top: 56px;
  }
  .f-nowrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .line-two-colors > * {
    padding: 1em;
  }
  .title {
    margin-bottom: 0;
  }
  .projects li::before {
    opacity: 0.5;
  }
  .projects li .content {
    opacity: 1;
  }
  .projects li .content .btn {
    margin: 1em;
    font-size: 0.85em;
  }
  .projects li .page-title {
    font-size: 1em;
  }
  .areas-we-serve {
    text-align: center;
  }
  .line-two-colors > *:nth-child(1) {
    text-align: center;
  }
  .line-two-colors > *:nth-child(1) h2,
  .line-two-colors > *:nth-child(1) .h2 {
    text-align: center;
  }
  .line-two-colors > *:nth-child(1)::after {
    content: "";
    background-color: #555555;
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 100%;
  }
  .line-two-colors > *:nth-child(2)::after {
    content: "";
    background-color: #b8e43f;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 100%;
  }
  .cycle-slideshow [class*="cycle-"].action-button {
    top: -70px;
    margin-top: 0;
  }
  .cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
    left: 0;
  }
  .cycle-slideshow [class*="cycle-"].action-button.cycle-next {
    right: 0;
  }
  .slide-wrap {
    padding: 1rem 0;
  }
  footer {
    text-align: center;
  }
  footer .tel {
    margin-bottom: 1rem;
    font-size: 2em;
  }
  .index-review .rating-block-left,
  .index-review .rating-block-right {
    display: none;
  }
  .tablet .search-block {
    padding: 2.25em 0;
  }
  .t-flex_4.t-omega.t-alpha {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  header .logo {
    padding: 0;
  }
  h1,
  .h1 {
    font-size: 2.5em;
  }
  h2,
  .h2 {
    font-size: 2.15em;
  }
  [role="main"] img {
    width: 100%;
  }
  .projects li .page-teaser-image {
    max-height: none;
  }
  .contact-page {
    text-align: left !important;
  }
  .contact-page a.tel {
    margin: 0;
  }
  .cycle-slideshow {
    max-width: 100%;
    border-radius: 0 0 0 0;
  }
  .news-list .news-item {
    padding: 0.5em;
  }
  .news-item-image.responsive-ratio {
    display: none;
  }
  footer .footer-images-list li img {
    height: auto;
  }
  .book-form {
    padding: 1em;
  }
  .book-form form > div:nth-child(1),
  .book-form form > div:nth-child(2) {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .captcha,
  .captcha img {
    width: 100%;
  }
  img[style*="float: left"],
  img[style*="float:left"],
  img[style*="float: right"],
  img[style*="float:right"] {
    float: none !important;
    display: block;
    margin: 0 auto 1em;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .btn.larger {
    font-size: 1.25em;
  }
  .tagcloud {
    font-size: 0.85em;
  }
  .tagcloud a {
    padding: 0 0.5em;
  }
  .slide-wrap {
    padding: 0;
  }
  .own-franchise {
    font-weight: 700;
    font-family: "Dosis", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
    font-size: 1.35em;
    line-height: 1.15em;
    text-align: center;
    color: #fff;
    background-color: #b8e43f;
  }
  #search-form {
    display: block;
  }
  .mobile-wrap-search {
    padding: 1em;
  }
  .mobile-wrap-search #search-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .mobile-wrap-search #search-form [type="text"] {
    border-color: #b8e43f;
  }
  .mobile-wrap-search #search-form button {
    font-size: 18px;
    border-radius: 0 0 0 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    color: #fff;
    border-color: #b8e43f;
    background-color: #b8e43f;
  }
  .mobile-wrap-search #search-form button:hover,
  .mobile-wrap-search #search-form button:active,
  .mobile-wrap-search #search-form button.active {
    color: #fff;
    border-color: #a2d21e;
    background-color: #a2d21e;
  }
  .mobile-wrap-search #search-form button::before {
    content: '';
  }
  .map-block .areas-we-serve::after {
    display: none;
  }
  .m-flex_4.m-omega.m-alpha {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
html.mobile,
html.tablet {
  overflow: hidden;
}
html.mobile::before,
html.tablet::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background-color: #b8e43f;
}
html.mobile .mobile-loader,
html.tablet .mobile-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  margin: auto;
  content: "";
  display: block;
  border: 5px solid transparent;
  border-top-color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after {
  animation: rotate 1.45s linear infinite;
  width: 4em;
  height: 4em;
}
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  animation: rotate 1.85s linear infinite;
  width: 4.75em;
  height: 4.75em;
}
html.mobile.loaded,
html.tablet.loaded {
  overflow: initial;
}
html.mobile.loaded::before,
html.tablet.loaded::before {
  content: none;
}
html.mobile.loaded .mobile-loader,
html.tablet.loaded .mobile-loader {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  .print-hide,
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
  .print-visible-inline {
    display: inline !important;
  }
  .print-page-break-inside,
  img,
  table {
    page-break-inside: avoid;
  }
  .print-page-break,
  article + article {
    page-break-before: always;
  }
  a::after {
    color: #888888;
    margin: 0 0 0 0.5em;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
  }
  a.btn::after,
  a.page-title::after {
    margin: 0;
    display: block;
  }
  a.page-teaser-image::after,
  .page-teaser-image a::after,
  .gmaps a::after,
  a._lbox::after {
    display: none;
  }
  a[href*=".html"]::after,
  a[href^="http"]::after,
  a[href^="//"]::after {
    content: "(" attr(href) ")";
  }
}
