<a href="{$page:url}" class="page-teaser-image-wrap">
    {$page:preview:url}
</a>
<div class="content">
    <a href="{$page:url}" class="page-title">{$page:h1}</a>
    <a href="{$page:url}" class="btn strong btn-zoom">ZOOM</a>
    <a href="{$page:url}" class="btn strong">VIEW</a>
</div>