<hr class="mt0px" />
<footer class="container" itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
    <div class="footer-box grid_3">{$imageonly:footer-logo:original:static}</div>
    <div class="footer-box grid_2">
        <a class="tel" href="tel:{$plugin:widcard:BizTelephone:href}" itemprop="telephone" content="{$plugin:widcard:BizTelephone:notag}">{$plugin:widcard:BizTelephone:notag}</a>
        <nav class="footer-menu d-visible" role="navigation">{$menu:main:_main menu footer}</nav>
    </div>
    <div class="grid_7">
        <ul class="list-unstyled footer-images-list">
            <li>{$imageonly:footer-image_1:250:static}</li>
            <li>{$imageonly:footer-image_2:250:static}</li>
            <li>{$imageonly:footer-image_3:250:static}</li>
        </ul>
        {$template:_social links}
        <img src="http://limepainting-theme.seolap.com/media/content/original/getlim.png" alt="getlim" width="250" height="49" border="0" />
    </div>
    <div class="footer-box grid_3 t-grid_3 hide">
        <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
            <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
            <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
            <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
            <meta itemprop="addressCountry" content="EN"/>
        </address>
    </div>
    <div class="footer-box grid_3 t-grid_3 hide">
        <a href="mailto:{$plugin:widcard:BizEmail:notag}" itemprop="email">{$plugin:widcard:BizEmail:notag}</a>.
        <a href="{$website:url}" itemprop="url">{$website:url}</a>
    </div>
    <div class="grid_12">
        {$content:footer-info:static}
    </div>
    <!-- Microformats -->
    <meta itemprop="name" content="{$plugin:widcard:BizOrgName:notag}" />
    <link itemprop="image" href="{$plugin:widcard:bizLogo:url}" />
    <meta itemprop="priceRange" content="$$" />
</footer>