<meta charset="utf-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<title>{$page:title}</title>
<meta name="keywords" content="{$meta:keywords}">
<meta name="description" content="{$meta:description}">
<meta name="author" content="FlexKit">
<!-- FB meta from the widget -->
{$fbmeta}
<!-- Mobile Specific Metas -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="480">
<!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{$page:title}">
<!-- PWA -->
{$pwa:manifest}

<!-- Favicons -->
<!-- Favicon Generator => http://realfavicongenerator.net/ -->
<!-- iOS -->
<link rel="apple-touch-icon" sizes="57x57" href="../../plugins/widcard/system/userdata/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../plugins/widcard/system/userdata/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../plugins/widcard/system/userdata/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../plugins/widcard/system/userdata/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../plugins/widcard/system/userdata/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../plugins/widcard/system/userdata/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../../plugins/widcard/system/userdata/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../plugins/widcard/system/userdata/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../plugins/widcard/system/userdata/icons/apple-icon-180x180.png">

<!-- Win8 -->
<meta name="application-name" content="{$page:title}"/>
<meta name="msapplication-tooltip" content="{$meta:description}"/>
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../../plugins/widcard/system/userdata/icons/app-icon-144x144.png">
<!-- Theme color for chrome mobile browser -->
<meta name="theme-color" content="#3F51B5">

<!-- Desktop and Android -->
<link rel="icon" type="image/png" href="../../plugins/widcard/system/userdata/icons/app-icon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="../../plugins/widcard/system/userdata/icons/app-icon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="../../plugins/widcard/system/userdata/icons/app-icon-192x192.png" sizes="192x192">
<!--[if IE]><link rel="shortcut icon" href="images/favicon/favicon.ico"><![endif]-->
<!-- WEB FONTS -->
<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700%7COpen+Sans:400,400i,700,700i" rel="stylesheet" media="all">
<!-- Change the symbol '|' to '%7C' and add 'media="all"' for the W3C validator and put: rel="preload" as="font"(sometimes not working) -->
<!-- CSS -->
{concatcss}
<link href="css/reset.css" rel="stylesheet" media="all">
<link href="css/content.css" rel="stylesheet" media="all">
<link href="css/nav.css" rel="stylesheet" media="all">
<link href="css/style.css" rel="stylesheet" media="all">
<!-- Shopping css -->
<link href="css/store.css" rel="stylesheet" media="all">
<!-- Additional css -->
<link href="css/flexkit.css" rel="stylesheet" media="all">
{/concatcss}
<!-- HTML5shiv and selectivizr.js IE support of HTML5 elements and CSS3 pseudo-classes, attribute selectors -->
<!--[if lte IE 9]><script src="js/system/ie-pack.min.js"></script><![endif]-->
<!-- flexkit 1.7.7 -->