<header class="container f-container f-wrap f-item-stretch" role="banner">
    <div class="flex_12 f-order_2 f-alpha f-omega f-container f-row f-item-center t_f-wrap m-flex_4 m-alpha m-omega">
        <div class="h1 logo flex_4 t-flex_5" itemscope itemtype="http://schema.org/Organization">
            <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url"><img src="{$plugin:widcard:bizLogo:url}" alt="{$widcard:param:trophy:readonly}" width="464" height="92" itemprop="logo"></a>
        </div>
        <!-- Main Menu -->
        <nav id="main-menu" class="flex_7 d-visible t-flex_6" role="navigation">{$menu:main:_main menu}</nav>
        {device:desktop,tablet}
        <div class="search-block flex-wrap f-container f-row f-item-center t-flex_1 flex_1" role="search">
            {$search:form}
            <i class="icon-search text-center search-button"></i>
        </div>
        {/device}
    </div>
    <div class="top_line flex_12 f-alpha f-omega f-order_1 f-container f-row f-item-center d-visible">
        <span class="flex_2">{$header:top-1:static}</span>
        <div class="flex_4 phone-container">
            <p class="mb0px phone_1">
                <a class="tel icon-phone2" href="tel:{$plugin:widcard:BizTelephone:href}">{$plugin:widcard:BizTelephone:notag}</a> {$header:phone-text:static}
            </p>
            <p class="mb0px phone_2">
                {$header:additional-phone:static} {$header:additional-phone-text:static}
            </p>
        </div>
        <div class="flex_3 mini">{$template:_social links}</div>
        <div class="flex_3 text-right">{$fastbutton:franchise-link:static}</div>
    </div>
</header>
{device:mobile}
<div class="own-franchise">
    Of {$header:top-1:static}
</div>
<div class="mobile-wrap-search">
    {$search:form}
</div>
{/device}