<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span class="btn icon-menu" data-refer="main"></span>
    <!--<span class="title">{$ page:h1}</span>-->
    <a class="phone icon-phone" href="tel:{$plugin:widcard:BizTelephone:href}">{$plugin:widcard:BizTelephone:notag}</a>
    {$fastbutton:free-estimate:btn-wrap:static}
    <!--<span class="dropdown-btn btn icon-more-vert" data-refer="drop"></span>-->
</div>
<aside class="m-menu left" data-el="main">
    <div class="menu-top-header"></div>
    {$menu:main:_main menu}
</aside>
<!-- mobile loader -->
<span class="mobile-loader"></span>