@responsive-size-tablet-over : (@responsive-size-tablet + 1);
@media only screen and (min-width : @responsive-size-tablet-over) {
	.d-hide, .t-visible, .m-visible {
		display : none !important;
	}
}

@responsive-size-mobile-over : (@responsive-size-mobile + 1);
@media only screen and (min-width : @responsive-size-mobile-over) and (max-width : @responsive-size-tablet) {
	.t-hide, .d-visible, .m-visible {
		display : none !important;
	}
}

@media only screen and (max-width : @responsive-size-mobile) {
	.m-hide, .d-visible, .t-visible {
		display : none !important;
	}
}

//================================================\\
//************** Divece orientation **************\\
//================================================\\
@media only screen and (orientation : portrait) {
}

@media only screen and (orientation : landscape) {
	.tablet {
		.t_f-wrap {
			-webkit-flex-wrap : wrap;
			-ms-flex-wrap     : wrap;
			flex-wrap         : wrap;
		}

		//.t-flex_6 {
		//	-ms-flex-preferred-size : 98%;
		//	-webkit-flex-basis      : 98%;
		//	flex-basis              : 98%;
		//	max-width               : 98%;
		//	min-width               : 98%;
		//}
		.top_line {
			font-size : 1em;
		}
		.sub-menu-btn {
			position : relative;
			float    : right;
		}
		.main_menu .category > a {
			.inline-block();
		}
		.featureditem.services li .page-title {
			height : 124px;
		}
		//
		.news-list .news-item {
			max-height : 330px;
		}
		.news-item-title {
			font-size : 1.15em;
		}
		.lemon-page svg {
			max-width  : 100%;
			max-height : 100%;
		}
	}

	.mobile {
		.lemon-page svg {
			width  : 55%;
			height : 50%;
		}
		.own-franchise {
			//padding          : 0.5em 0;
			font-weight      : 700;
			font-family      : @font-family-headings;
			font-size        : 1.35em;
			line-height      : 1.15em;
			text-align       : center;
			color            : #fff;
			background-color : @brand-primary;
		}

		#search-form {
			display : block;
		}

		.mobile-wrap-search {
			padding : 1em;
		}

		.mobile-wrap-search #search-form {
			display                : -webkit-box;
			display                : -webkit-flex;
			display                : -ms-flexbox;
			display                : flex;
			-webkit-box-direction  : normal;
			-webkit-box-orient     : horizontal;
			-webkit-flex-direction : row;
			-ms-flex-direction     : row;
			flex-direction         : row;
			-webkit-flex-wrap      : nowrap;
			-ms-flex-wrap          : nowrap;
			flex-wrap              : nowrap;
			-webkit-box-align      : stretch;
			-webkit-align-items    : stretch;
			-ms-flex-align         : stretch;
			align-items            : stretch;
			[type="text"] {
				border-color : @brand-primary;
			}
			button {
				font-size        : 18px;
				border-radius    : 0 0 0 0;
				-webkit-box-flex : 1;
				-webkit-flex     : 1 1 25%;
				-ms-flex         : 1 1 25%;
				flex             : 1 1 25%;
				.button-color(#fff; @brand-primary; @brand-primary);
				&::before {
					content : '';
				}
			}
		}
		.map-block {
			.areas-we-serve {
				&::after {
					display : none;
				}
			}
		}
	}
}

//================================================\\
//*************** Divece screen size *************\\
//================================================\\

//***** Bigger than Desktop site size *****\\
@responsive-size-desktop-above : (@responsive-size-desktop + 1);
@media only screen and (min-width : @responsive-size-desktop-above) {
}

@media only screen and (min-width : 1366px) {

}

//***** Tablet Portrait *****\\
@media only screen and (max-width : @responsive-size-desktop) {
	.testimonials-slider {
		[class*="cycle-"].action-button {
			top : -50px;
			&.cycle-prev {
				left : 0;
			}

			&.cycle-next {
				right : 0;
			}
		}
	}
}

//***** All Mobile Sizes *****\\
@media only screen and (max-width : @responsive-size-tablet) {
	//mojo
	body.news-page {
		padding-top : 56px;
	}

	.f-nowrap {
		-webkit-flex-wrap : wrap;
		-ms-flex-wrap     : wrap;
		flex-wrap         : wrap;
	}

	.line-two-colors {
		& > * {
			padding : 1em;
		}
	}

	.title {
		margin-bottom : 0;
	}

	.projects {
		li {
			&::before {
				.opacity(0.5);
			}
			.content {
				.opacity(1);
				.btn {
					margin    : 1em;
					font-size : 0.85em;
				}
			}
			.page-title {
				font-size : 1em;
			}
		}
	}

	.areas-we-serve {
		text-align : center;
	}

	.line-two-colors {
		& > * {
			&:nth-child(1) {
				text-align : center;
				h2, .h2 {
					text-align : center;
				}
				&::after {
					content          : "";
					background-color : @text-color;
					position         : absolute;
					top              : 0;
					left             : 100%;
					bottom           : 0;
					width            : 100%;
				}
			}
			&:nth-child(2) {
				&::after {
					content          : "";
					background-color : @brand-primary;
					position         : absolute;
					top              : 0;
					bottom           : 0;
					right            : 100%;
					width            : 100%;
				}
			}
		}
	}

	.cycle-slideshow [class*="cycle-"].action-button {
		top        : -70px;
		margin-top : 0;
		&.cycle-prev {
			left : 0;
		}
		&.cycle-next {
			right : 0;
		}
	}

	.slide-wrap {
		padding : 1rem 0;
	}

	.rating-block-left {
		//display : none;
	}

	footer {
		text-align : center;
		.tel {
			margin-bottom : 1rem;
			font-size     : 2em;
		}
	}

	.index-review {
		.rating-block-left, .rating-block-right {
			display : none;
		}
	}

	.tablet {
		.search-block {
			padding : 2.25em 0;
		}
	}

	//----------
	.t-flex_4.t-omega.t-alpha {
		-ms-flex-preferred-size : 100%;
		-webkit-flex-basis      : 100%;
		flex-basis              : 100%;
		max-width               : 100%;
		min-width               : 100%;
	}
}

//***** Just Mobile Landscape *****\\
@media only screen and (max-width : @responsive-size-tablet) and (orientation : landscape) {
}

//***** Just Mobile Portrait *****\\
@media only screen and (max-width : @responsive-size-mobile) {
	header .logo {
		padding : 0;
	}

	h1, .h1 {
		font-size : 2.5em;
	}

	h2, .h2 {
		font-size : 2.15em;
	}

	[role="main"] {
		img {
			width : 100%;
		}
	}

	.projects {
		li {
			.page-teaser-image {
				max-height : none;
			}
		}
	}

	.contact-page {
		text-align : left !important;

		a.tel {
			margin : 0;
		}
	}

	.cycle-slideshow {
		max-width : 100%;
		.border-radius(0 0 0 0);
	}

	.news-list .news-item {
		padding : 0.5em;
	}

	.news-item-image.responsive-ratio {
		display : none;
	}

	footer {
		.footer-images-list li img {
			height : auto;
		}
	}

	.book-form {
		padding : 1em;
		form > div {
			&:nth-child(1), &:nth-child(2) {
				width        : 98%;
				margin-left  : 1%;
				margin-right : 1%;
			}
		}
	}

	.captcha {
		&, img {
			width : 100%;
		}
	}

	img[style*="float: left"], img[style*="float:left"], img[style*="float: right"], img[style*="float:right"] {
		float   : none !important;
		display : block;
		margin  : 0 auto 1em;
	}

	form [type="submit"], form [type="button"] {
		width        : 100%;
		margin-right : 0;
		margin-left  : 0;
	}

	.btn.larger {
		font-size : 1.25em;
	}

	.tagcloud {
		font-size : 0.85em;
		a {
			padding : 0 0.5em;
		}
	}

	.slide-wrap {
		padding : 0;
	}

	.own-franchise {
		//padding          : 0.5em 0;
		font-weight      : 700;
		font-family      : @font-family-headings;
		font-size        : 1.35em;
		line-height      : 1.15em;
		text-align       : center;
		color            : #fff;
		background-color : @brand-primary;
	}

	#search-form {
		display : block;
	}

	.mobile-wrap-search {
		padding : 1em;
	}

	.mobile-wrap-search #search-form {
		display                : -webkit-box;
		display                : -webkit-flex;
		display                : -ms-flexbox;
		display                : flex;
		-webkit-box-direction  : normal;
		-webkit-box-orient     : horizontal;
		-webkit-flex-direction : row;
		-ms-flex-direction     : row;
		flex-direction         : row;
		-webkit-flex-wrap      : wrap;
		-ms-flex-wrap          : wrap;
		flex-wrap              : wrap;
		-webkit-box-align      : stretch;
		-webkit-align-items    : stretch;
		-ms-flex-align         : stretch;
		align-items            : stretch;
		[type="text"] {
			border-color : @brand-primary;
		}
		button {
			font-size        : 18px;
			border-radius    : 0 0 0 0;
			-webkit-box-flex : 1;
			-webkit-flex     : 1 1 25%;
			-ms-flex         : 1 1 25%;
			flex             : 1 1 25%;
			.button-color(#fff; @brand-primary; @brand-primary);
			&::before {
				content : '';
			}
		}
	}

	.map-block {
		.areas-we-serve {
			&::after {
				display : none;
			}
		}
	}

	//---------
	.m-flex_4.m-omega.m-alpha {
		-ms-flex-preferred-size : 100%;
		-webkit-flex-basis      : 100%;
		flex-basis              : 100%;
		max-width               : 100%;
		min-width               : 100%;
	}
}

//***** Just Small Phone *****\\
@media only screen and (max-width : @responsive-size-phone) {
}

//================================================\\
//************** Divece pixel ratio **************\\
//================================================\\
@media screen and (-webkit-min-device-pixel-ratio : 1.3) {
}

@media screen and (-webkit-min-device-pixel-ratio : 1.5) {
}

@media screen and (-webkit-min-device-pixel-ratio : 2) {
}

@import "../mobile/loader";