.img_gallery when (@image-gallery) {
	.inline-block-wrap();

	li {
		position      : relative;
		.grid-elements(4; @grid-margin-width; false; 3; 2);
		margin-bottom : 1rem;
		text-align    : center;
	}

	a {
		display : block;
		img {
			width : 100%;
			// .thumbnail-state();
		}
	}

	.image_caption {
		position    : absolute;
		bottom      : 0;
		left        : 0;
		right       : 0;
		z-index     : 10;
		margin      : 0;
		line-height : @line-height;
		padding     : @padding-small-vertical;
		color       : @thumbnail-caption-color;
		text-align  : center;
		font-size   : @font-size-small;
		.text-overflow;
		.rgba(@thumbnail-caption-bg; @thumbnail-caption-opacity);
	}
	.service-page & {
		position                    : relative;
		//width                       : 100%;
		//height                      : 100%;
		z-index                     : 1;
		display                     : -webkit-box;
		display                     : -webkit-flex;
		display                     : -ms-flexbox;
		display                     : flex;
		-webkit-transition-property : -webkit-transform;
		transition-property         : -webkit-transform;
		-o-transition-property      : transform;
		transition-property         : transform;
		transition-property         : transform, -webkit-transform;
		-webkit-box-sizing          : content-box;
		box-sizing                  : content-box;
		li {
			margin                      : 0;
			-webkit-flex-shrink         : 0;
			-ms-flex-negative           : 0;
			flex-shrink                 : 0;
			width                       : 100%;
			position                    : relative;
			-webkit-transition-property : -webkit-transform;
			transition-property         : -webkit-transform;
			-o-transition-property      : transform;
			transition-property         : transform;
			transition-property         : transform, -webkit-transform;
		}
	}
}

.service-page {
	margin-bottom : 2em;
}