// List Pages & List Categories
//==================================================
.listpages, .listcategories {
	& when (@widget-LP-LC) {

		li {
			.grid-elements(3; @grid-margin-width; false; 2; 1);
			margin-bottom : 1em;
			overflow      : hidden;
		}

		a {
		}

		.page-teaser-image {
			//float        : left;
			//margin-right : 3%;
			//width        : 150px;
			height   : 270px;
			overflow : hidden;

			img {
			}
		}

		.page-title {
			position            : relative;
			margin              : 0;
			padding             : 1em;
			font-size           : 1.5em;
			font-weight         : 700;
			text-align          : center;
			color               : #fff;
			.gradient-horizontal(to left, #b8e43f, #b8e43f 50%, #555 50%);
			background-position : 100% 0;
			background-size     : 201% 100%;
			.transition(background-position 0.25s);
			&::after {
				content     : "\e0b3";
				position    : absolute;
				right       : -30px;
				font-family : @font-family-icons;
				.transition(right 0.25s);
			}
			&:hover {
				background-position : 0 0;
				text-align          : left;
				&::after {
					right : 10px;
				}
			}
		}

		span {
		}

		// Hover
		li:hover {

			a {
			}

			.page-teaser-image {
				img {
				}
			}

			.page-title {
			}

			span {
			}
		}
	}
}

// List Pages
//==================================================
.listpages when (@widget-LP) and (@widget-LP-LC){

	li {
	}

	a {
	}

	.page-teaser-image {
		img {
		}
	}

	.page-title {
	}

	span {
	}

	// Hover
	li:hover {

		a {
		}

		.page-teaser-image {
			img {
			}
		}

		.page-title {
		}

		span {
		}
	}
}

// List Categories
//==================================================
.listcategories when (@widget-LC) and (@widget-LP-LC){
	li {
	}

	a {
	}

	.page-teaser-image {
		img {
		}
	}

	.page-title {
	}

	span {
	}

	// Hover
	li:hover {
		a {
		}

		.page-teaser-image {
			img {
			}
		}

		.page-title {
		}

		span {
		}
	}
}