.news-list {
	.inline-block-wrap(top);
	.news-item {
		.grid-elements(2; @grid-margin-width; false; 1; 1);
		margin-bottom : 2rem;
	}
}

.news-item when (@widget-news-list) {
	overflow : hidden;
	border   : 1px solid @text-color;
	.border-radius(1em);

	.news-item-image {
		img {
		}
	}
	.news-item-info{
		padding: 0.5em 0;
	}

	.news-item-title {
		font-weight : 700;
		color       : @text-color;
	}

	.newslog-admin-actions {
		text-align : right;
		a {
		}
	}

	.news-item-date {
		margin-bottom : 1em;
		font-weight   : 700;
		font-family   : @font-family-headings;
		color         : @brand-primary;

		&::before {
			top       : 2px;
			font-size : 16px;
			color     : @primary-bg;
		}
	}

	.news-item-description {
	}

	.news-item-tags {

		a {
			.link-color(@gray);

			& + a {
				margin-left : 0.5em;
			}

			&::before {
				color        : @gray;
				margin-right : 0.5em;
			}
		}
	}

	.newslog-tag-filter {
		&::before {
			font-family : @font-family-icons;
			content     : "\e023";
		}
	}
}

.news-item-title {
	margin-bottom   : 1em;
	text-decoration : none;
	font-family     : @font-family-headings;
	font-size       : 1.5em;
}

.limelight-item {
	& + .limelight-item {
		margin-top : 1rem;
	}
	.news-item-title {
		font-weight : normal;
		color       : @brand-primary;
	}
}
.news-list-offline{
	.news-item-info{
		padding: 0.7em;
	}
}