//	Search form
//==================================================
#search-form when (@widget-search) {
    display : none;
    &.flex {
        .flexbox(row; wrap;);
    }
    input {
        width            : auto;
        text-align       : center;
        border-color     : transparent;
        border-bottom    : 1px solid @text-color;
        color            : @text-color;
        background-color : transparent;
        .flex-box-size();
        border-radius    : 0;
    }
    button {
        padding          : 0 0.65rem;
        font-size        : 0;
        color            : @text-color;
        background-color : transparent;
        &::before {
            content                 : "\e068";
            font-size               : @font-size-base;
            font-family             : @font-family-icons;
            speak                   : none;
            font-style              : normal;
            font-weight             : normal;
            text-transform          : none;
            line-height             : 1;
            position                : relative;
            text-align              : center;
            .inline-block();
            -webkit-font-smoothing  : antialiased;
            -moz-osx-font-smoothing : grayscale;
        }
    }
    .dropdown & {
        .flexbox(row; wrap;);
        input {
            color : @text-color;
        }
        button {
            width            : auto;
            background-color : @brand-primary;
        }
    }
}