.f {
	&-container {
		.flex-box-reset();
		& > * {
			position     : relative;
			flex-basis   : 98%;
			max-width    : 98%;
			margin-left  : 1% !important;
			margin-right : 1% !important;
		}
	}
	&-row {
		webkit-box-orient      : horizontal;
		-moz-box-orient        : horizontal;
		box-orient             : horizontal;

		-webkit-flex-direction : row;
		-ms-flex-direction     : row;
		flex-direction         : row;
	}
	&-column {
		webkit-box-orient      : vertical;
		-moz-box-orient        : vertical;
		box-orient             : vertical;

		-webkit-flex-direction : column;
		-ms-flex-direction     : column;
		flex-direction         : column;
	}
	&-wrap {
		-webkit-flex-wrap : wrap;
		-ms-flex-wrap     : wrap;
		flex-wrap         : wrap;
	}
	&-nowrap {
		-webkit-flex-wrap : nowrap;
		-ms-flex-wrap     : nowrap;
		flex-wrap         : nowrap;
	}
	&-item-stretch {
		-webkit-align-items : stretch;
		-ms-flex-align      : stretch;
		align-items         : stretch;
	}
	&-item-center {
		-webkit-align-items : center;
		-ms-flex-align      : center;
		align-items         : center;
	}
}

// GRID CSS
//==================================================
.flex-box-reset () {
	display             : -webkit-flex;
	display             : -ms-flexbox;
	display             : -webkit-box;
	display             : flex;

	// flex-start | flex-end | center | baseline | stretch
	-webkit-align-items : flex-start;
	-ms-align-items     : flex-start;
	align-items         : flex-start;
}

// GRID CSS
//==================================================
[class*="flex_"] {
	&::after {
		content : none;
	}
}

[class*="-width-auto"] {
	// It will make elements without width - with same width
	& > * {
		flex-basis : 98%;
	}
	& > :not([class*="flex_"]) {
		flex-grow    : 1;
		margin-left  : 1%;
		margin-right : 1%;
	}
}

.flex-grow {
	flex-grow : 1;
}

.flex-grid();
//
.flex-grid() when (@grid-system) {
	& when (@responsive) {
		& when (@grid-global-classes) {
			.flex-grid-list(@prefix: _);
		}
		@media only screen and (min-width : (@responsive-size-tablet + 1)) {
			.flex-grid-list(@prefix: f-);
		}
		& when (@grid-columns-big-screen > 0) and (isnumber(@grid-columns-big-screen)) {
			@media only screen and (min-width : (@responsive-size-big-screen)) {
				.flex-grid-list(@grid-columns-big-screen; b-);
			}
		}
		@media only screen and (max-width : @responsive-size-tablet) and (min-width : (@responsive-size-mobile + 1)) {
			.flex-grid-list(@grid-columns-tablet, t-);
		}
		@media only screen and (max-width : @responsive-size-mobile) {
			.flex-grid-list(@grid-columns-mobile, m-);
		}
	}
	& when (@adaptive) {
		& when (@grid-global-classes) {
			.flex-grid-list(@prefix: _);
		}
		& when (@grid-columns-big-screen > 0) and (isnumber(@grid-columns-big-screen)) {
			@media only screen and (min-width : (@responsive-size-big-screen + 1)) {
				.flex-grid-list(@grid-columns-big-screen; b-);
			}
			@media only screen and (max-width : @responsive-size-big-screen) {
				.flex-grid-list();
			}
		}
		& when (@grid-columns-big-screen = 0), not(isnumber(@grid-columns-big-screen)) {
			@media only screen and (min-width : (@responsive-size-tablet + 1)) {
				.flex-grid-list();
			}
		}
		@media only screen and (max-width : @responsive-size-desktop) {
			.flex-grid-list(@grid-columns-tablet, t-);
		}
		@media only screen and (max-width : @responsive-size-tablet) {
			.flex-grid-list(@grid-columns-mobile, m-);
		}
	}
	& when not(@responsive) and not(@adaptive) {
		.flex-grid-list();
	}
}

.flex-grid-list(@grid : @grid-columns; @prefix : ~''; @num-column : 1; @switch : true) when (@grid >= @num-column) {
	.flex_@{num-column} when (@prefix = f-) {
		-ms-flex-preferred-size : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);
		-webkit-flex-basis      : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);
		flex-basis              : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);
		max-width               : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);
		min-width               : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);

		&.@{prefix}alpha, &.@{prefix}omega {
			& when (@grid-system-alpha-omega) {
				-ms-flex-preferred-size : round(percentage(@num-column / @grid) - @grid-margin-width / 2, 4);
				-webkit-flex-basis      : round(percentage(@num-column / @grid) - @grid-margin-width / 2, 4);
				flex-basis              : round(percentage(@num-column / @grid) - @grid-margin-width / 2, 4);
				max-width               : round(percentage(@num-column / @grid) - @grid-margin-width / 2, 4);
				//width : round(percentage(@num-column / @grid) - @grid-margin-width / 2, 3);
			}
		}
		&.@{prefix}alpha.@{prefix}omega {
			& when (@grid-system-alpha-omega) {
				-ms-flex-preferred-size : round(percentage(@num-column / @grid), 4);
				-webkit-flex-basis      : round(percentage(@num-column / @grid), 4);
				flex-basis              : round(percentage(@num-column / @grid), 4);
				max-width               : round(percentage(@num-column / @grid), 4);
			}
		}
	}
	.@{prefix}flex_@{num-column} when not (@prefix = f-) {
		-ms-flex-preferred-size : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);
		-webkit-flex-basis      : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);
		flex-basis              : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);
		max-width               : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);
		min-width               : round(percentage((@num-column / @grid)) - @grid-margin-width, 4);

		&.@{prefix}-alpha, &.@{prefix}-omega {
			& when (@grid-system-alpha-omega) {
				-ms-flex-preferred-size : round(percentage(@num-column / @grid) - @grid-margin-width / 2, 4);
				-webkit-flex-basis      : round(percentage(@num-column / @grid) - @grid-margin-width / 2, 4);
				flex-basis              : round(percentage(@num-column / @grid) - @grid-margin-width / 2, 4);
				max-dith                : round(percentage(@num-column / @grid) - @grid-margin-width / 2, 4);
			}
		}
	}
	.flex-grid-list(@grid; @prefix; @num-column + 1; false);

	& when (@switch) {
		.@{prefix}alpha when (@grid-system-alpha-omega) {
			margin-left : 0 !important;
		}
		.@{prefix}omega when (@grid-system-alpha-omega) {
			margin-right : 0 !important;
		}
		.@{prefix}start {
			-webkit-justify-content : flex-start;
			-ms-justify-content     : flex-start;
			justify-content         : flex-start;
		}
		.@{prefix}center {
			-webkit-justify-content : center;
			-ms-justify-content     : center;
			justify-content         : center;
		}
		.@{prefix}end {
			-webkit-justify-content : flex-end;
			-ms-justify-content     : flex-end;
			justify-content         : flex-end;
		}
		.@{prefix}top {
			-webkit-align-items : flex-start;
			-moz-align-items    : flex-start;
			-ms-align-items     : flex-start;
			align-items         : flex-start;
		}
		.@{prefix}middle {
			-webkit-align-items : center;
			-moz-align-items    : center;
			-ms-align-items     : center;
			align-items         : center;
		}
		.@{prefix}bottom {
			-webkit-align-items : flex-end;
			-moz-align-items    : flex-end;
			-ms-align-items     : flex-end;
			align-items         : flex-end;
		}
		.@{prefix}stretch {
			-webkit-align-items : stretch;
			-moz-align-items    : stretch;
			-ms-align-items     : stretch;
			align-items         : stretch;
		}
		.@{prefix}self-top {
			-webkit-align-self : flex-start;
			-moz-align-self    : flex-start;
			-ms-align-self     : flex-start;
			align-self         : flex-start;
		}
		.@{prefix}self-middle {
			-webkit-align-self : center;
			-moz-align-self    : center;
			-ms-align-self     : center;
			align-self         : center;
		}
		.@{prefix}self-bottom {
			-webkit-align-self : flex-end;
			-moz-align-self    : flex-end;
			-ms-align-self     : flex-end;
			align-self         : flex-end;
		}
		.@{prefix}self-stretch {
			-webkit-align-self : stretch;
			-moz-align-self    : stretch;
			-ms-align-self     : stretch;
			align-self         : stretch;
		}
		.@{prefix}nowrap {
			-webkit-flex-wrap : nowrap;
			-moz-flex-wrap    : nowrap;
			-ms-flex-wrap     : nowrap;
			flex-wrap         : nowrap;
		}
		.@{prefix}width-auto {
			-webkit-flex-wrap : nowrap;
			-moz-flex-wrap    : nowrap;
			-ms-flex-wrap     : nowrap;
			flex-wrap         : nowrap;
		}
		.@{prefix}col {
			-webkit-flex-direction : column;
			-moz-flex-direction    : column;
			-ms-flex-direction     : column;
			flex-direction         : column;
		}

		.prefix(@grid; @prefix; @num-column);
		.suffix(@grid; @prefix; @num-column);
		.order(@grid; @prefix; @num-column);
	}
}

.prefix(@grid : @grid-columns; @prefix : ~''; @num-column) when (@grid > @num-column) and  (@grid-system-prefix-suffix) {
	.@{prefix}prefix_@{num-column} {
		margin-left : round(percentage(@num-column / @grid) + @grid-margin-width / 2, 3) !important;
		&.alpha when (@grid-system-alpha-omega) {
			margin-left : round(percentage(@num-column / @grid), 3) !important;
		}
	}
	.prefix(@grid; @prefix; @num-column + 1);
}

.suffix(@grid : @grid-columns; @prefix : ~''; @num-column) when (@grid > @num-column) and  (@grid-system-prefix-suffix) {
	.@{prefix}suffix_@{num-column} {
		margin-right : round(percentage(@num-column / @grid) + @grid-margin-width / 2, 3) !important;
		&.omega when (@grid-system-alpha-omega) {
			margin-right : round(percentage(@num-column / @grid), 3) !important;
		}
	}
	.suffix(@grid; @prefix; @num-column + 1);
}

.order(@grid : @grid-columns, @prefix : ~'', @num-column) when (@grid > @num-column) {
	.@{prefix}order_@{num-column} {
		-webkit-box-ordinal-group : @num-column;
		-webkit-order             : @num-column !important;
		-ms-order                 : @num-column !important;
		order                     : @num-column !important;
	}
	.order(@grid, @prefix, @num-column + 1);
}