//	PAGE Style
//==================================================
body {
	// custom scroll-bar
	//.scroll-bar();
	overflow-x : hidden;
}

main {
}

#page {
}

//	HEADER Style
//==================================================
header {
	font-family : @font-family-headings;
	color       : @header-color;
	background  : @header-bg;

	// -- LOGO Style
	.logo {
		margin-top      : 0;
		margin-bottom   : 0;
		padding         : 1rem 0;
		text-decoration : none;

		a {
			display : inline-block;
		}

		img {
		}
	}
	@media screen and (-ms-high-contrast : active), (-ms-high-contrast : none) {
		z-index : 11;
	}

}

.search-block {
	text-align : right;
	i {
		cursor : pointer;
		&::before {
			vertical-align : baseline
		}
	}
	&.flex_8 {
		.transition(all 0.3s);
	}
}

.phone-container {
	padding : 6px 0;
	.phone_1, .phone_2 {
		line-height : 1;
		footer & {
			vertical-align : baseline;
			.tel {
				font-size     : 1.4em;
				margin-bottom : 0.25em;
			}
			.text {
				display       : block;
				margin-bottom : 0.25em;
			}
			a {
				margin-bottom : 0;
			}
		}
	}

}

@media screen and (-ms-high-contrast : active), (-ms-high-contrast : none) {
	header, header > div {
		transform         : scaleY(-1);
		-ms-transform     : scaleY(-1);
		-webkit-transform : scaleY(-1);
	}
}

.top_line {
	text-transform : uppercase;
	font-size      : 1.5em;
	color          : #fff;

	&::before {
		content          : '';
		position         : absolute;
		top              : 0;
		bottom           : 0;
		width            : 100vw;
		left             : 50%;
		right            : 50%;
		margin-left      : -50vw;
		margin-right     : -50vw;
		background-color : @brand-primary;
	}
	a {
		text-decoration : none;
		font-weight     : 700;
		color           : #fff;
	}
	@media screen and (-ms-high-contrast : active), (-ms-high-contrast : none) {
		span, a {
			.inline-block();
		}
	}
}

.tel {
	&::before {
		margin-right : 0.5em;
		font-size    : 0.85em;
	}
}

/* SVG Styling*/
.lemon-page {
	right       : 0 !important;
	line-height : 1;
	svg {
		height     : 100%;
		max-width  : 65%;
		max-height : 65%;

		@media only screen and (max-width : @responsive-size-mobile) {
			height : 100%;
		}
		pattern {
			image[href*="/media/"] {
				display : none;
			}
		}

	}
	& ~ .split_it {
		display : block;
	}
}

//IE
@media screen and (-ms-high-contrast : active), (-ms-high-contrast : none) {
	.lemon-page {
		svg {
			height : 450px;
		}
	}
}

.split_it {
	display : none;
}

.video-lemon-holder {
	//max-width: 400px !important;
	margin          : auto;
	animation-delay : 0.5s;
}

.video-lemon-holder .slice {
	fill : #b8e43f;
}

.st0 {
	fill              : none;
	stroke            : #749846;
	stroke-width      : 13;
	stroke-miterlimit : 10;
	background        : red;
}

.slice {
	fill       : #B8E43F;
	transition : all 0.3s ease;
}

.video-lemon-holder:hover .slice {
	opacity : 0.7;
}

.video-lemon-holder:hover .slice.open-popup-link:hover {
	opacity : 1;
}

.slice.open-popup-link:nth-of-type(1):hover {
	-webkit-transform : translate(-3px, 9px);
	-ms-transform     : translate(-3px, 9px);
	-o-transform      : translate(-3px, 9px);
	transform         : translate(-3px, 9px);
}

.slice.open-popup-link:nth-of-type(2):hover {
	-webkit-transform : translate(-9px, 3px);
	-ms-transform     : translate(-9px, 3px);
	-o-transform      : translate(-9px, 3px);
	transform         : translate(-9px, 3px);
}

.slice.open-popup-link:nth-of-type(3):hover {
	-webkit-transform : translate(-9px, -3px);
	-ms-transform     : translate(-9px, -3px);
	-o-transform      : translate(-9px, -3px);
	transform         : translate(-9px, -3px);
}

.slice.open-popup-link:nth-of-type(4):hover {
	-webkit-transform : translate(-3px, -9px);
	-ms-transform     : translate(-3px, -9px);
	-o-transform      : translate(-3px, -9px);
	transform         : translate(-3px, -9px);
}

.slice.open-popup-link:nth-of-type(5):hover {
	-webkit-transform : translate(3px, -9px);
	-ms-transform     : translate(3px, -9px);
	-o-transform      : translate(3px, -9px);
	transform         : translate(3px, -9px);
}

.slice.open-popup-link:nth-of-type(6):hover {
	-webkit-transform : translate(9px, -3px);
	-ms-transform     : translate(9px, -3px);
	-o-transform      : translate(9px, -3px);
	transform         : translate(9px, -3px);
}

.slice.open-popup-link:nth-of-type(7):hover {
	-webkit-transform : translate(9px, 3px);
	-ms-transform     : translate(9px, 3px);
	-o-transform      : translate(9px, 3px);
	transform         : translate(9px, 3px);
}

.slice.open-popup-link:nth-of-type(8):hover {
	-webkit-transform : translate(3px, 9px);
	-ms-transform     : translate(3px, 9px);
	-o-transform      : translate(3px, 9px);
	transform         : translate(3px, 9px);
}

// -- NAV Style
nav {
}

//	CONTENT Style
//==================================================
article {
}

section {
}

.line-two-colors {
	& > * {
		padding : 2em;
		color   : #FFF;
		&:nth-child(1) {
			background-color : @text-color;
			&::before {
				content          : "";
				background-color : @text-color;
				position         : absolute;
				top              : 0;
				right            : 100%;
				bottom           : 0;
				width            : 100%;
			}
		}
		&:nth-child(2) {
			background-color : @brand-primary;
			&::before {
				content          : "";
				background-color : @brand-primary;
				position         : absolute;
				top              : 0;
				bottom           : 0;
				left             : 100%;
				width            : 100%;
			}
			[type="submit"] {
				.button-color(#fff; @text-color; @text-color;);
			}
		}
	}
}

//Reviews
.starrating {
	margin-bottom : 0.5em;
}

.stars-container, .rating {
	width : auto !important;
}

.total-review, .r-head-text {
	display : none;
}

.fl-right {
	font-size : 0.85em;
	color     : #ccc;
}

#starratingpostreview {
	font-size : 1.5em;
}

.pagerating-review {
	padding-left  : 1em;
	margin-bottom : 1.5em;
	border-left   : 4px solid @brand-primary;
	& + .pagerating-review {
		display : none;
	}
}

.pagerating-info {
	font-family : @font-family-headings;
	font-size   : 1.25em;
}

.author {
	font-weight : 700;
}

.published {
	color : #ccc;
}

.book-form {
	padding : 2em;
	.border-radius(2em);
}

.team-list {
	margin-bottom : 1rem;
	list-style    : none;
	text-align    : center;
	.inline-block-wrap(top);
	.tpopup {
		display : block;
	}
	li {
		.grid-elements(4; @grid-margin-width; false; 2; 1);
		text-align : center;
		> img {
			margin-bottom : 0.5em;
		}
	}
	span {
		display     : block;
		font-family : @font-family-headings;
		font-weight : 700;
	}
	.team-preview {
		overflow : hidden;
		.border-radius(50%);
		img {
			width : 100%;
		}
	}
	.team-name {
		font-size : 1.5em;
	}
	.team-position {
		margin-bottom : 1em;
		color         : @brand-primary;
	}
}

.contact-page {
	margin      : 2em 0;
	font-weight : 700;
	font-size   : 1.5em;
	font-family : @font-family-headings;
	a {
		margin          : 0 1em;
		text-decoration : none;
		color           : @text-color;
	}
	a, address {
		&::before {
			margin-right : 0.5em;
			font-size    : 0.85em;
			color        : @brand-primary;
		}
	}
}

.tagcloud {
	margin-bottom : 2em;
	text-align    : center;
	a {
		margin          : 0 0.25em 0.25em;
		text-decoration : none;
		.button(#fff; @text-color, @brand-primary; @text-color, @brand-primary);
		&::before {
			content : '# ';
		}
	}
}

.number {
	display       : block;
	margin-top    : 0.5em;
	margin-bottom : 0.25em;
	font-size     : 3.5em;
	font-family   : @font-family-headings;
	font-weight   : bold;
}

.service-page-body {
	.mfp-counter {
		display : none;
	}
}

.service-testimonials {
	//display : none;
	.rating-block-left, .rating-block-right {
		display : none;
	}
	.review-header {
		margin-top : 0;
	}
	.starrating {
		display : none;
	}
}

.video-block {
	iframe {
		width : 100%;
	}
}

.map {
	margin-bottom : 1em;
}

.gmaps {
	//margin-top : 1em;
}

.map-block {
	.areas-we-serve {
		position : relative;
		padding  : 0.5em 0;
		&::after {
			z-index      : 1;
			content      : '';
			display      : block;
			position     : absolute;
			top          : 0;
			left         : 103%;
			border       : 100px solid transparent;
			border-color : transparent transparent transparent #fff;
			border-width : 225px 70px;
		}

	}
	//.polygonmap-config-form {
	//	display : none;
	//}
}

.polygonmap {
	max-width : 100%;
}

.imgGmaps {
	display : none;
}

.bubble-info {
	> div {
		width  : auto !important;
		height : auto !important;
	}
}
//mojo
body.news-page{
	font-size: @font-size-base;
}
// 404 page
//==================================================
.first {
	font-size : 7em;
	font-size : 7vw;
}

//	SIDEBAR Style
//==================================================
aside {
	.aside-box {
		margin-bottom : 30px;
	}
}

//	FOOTER Style
//==================================================
footer {
	padding     : @padding-larger-vertical * 2 0;
	font-family : @font-family-headings;
	color       : @footer-color;
	background  : @footer-bg;
	.tel {
		.inline-block();
		margin-bottom   : 1rem;
		text-decoration : none;
		font-weight     : 700;
		font-size       : 1.5em;
		color           : @brand-primary;
	}
	.footer-images-list {
		margin-top : 3rem;
		.inline-block-wrap();
		li {
			padding    : 0 1.5%;
			text-align : center;
			.grid-elements(3; @grid-margin-width; false; 3; 3);
			& + li {
				border-left : 1px solid #739544;
			}
			img {
				height : 125px;
				width  : auto;
			}
		}
	}
}

.mfp-title {
	display : none;
}

.p-space {
	padding : 3em 0;
}

.animated {
	visibility : visible;
	.animated();

	&.repeat {
		.animation-iteration-count(infinite);
	}

	&.hinge {
		.animation-duration(2s);
	}
}

@-webkit-keyframes rotate {
	0% {
		.transform-origin(center);
		.rotate(-360deg);
	}
	100% {
		.transform-origin(center);
		.rotate(0);
	}
}

@keyframes rotate {
	0% {
		.transform-origin(center);
		.rotate(-360deg);
	}
	100% {
		.transform-origin(center);
		.rotate(0);
	}
}

.rotate {
	.animation-name(rotate)
}

//	Button to scroll top
//==================================================
#go-top {
	.button-color(#ffffff; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.webPage-go-top {
	.button-color(#fff; fade(#000, 50%); fade(#000, 50%); @primary-color; @primary-bg; @primary-bg);
}