.icon12, .icon14, .icon16, .icon18, .icon24, .icon32, .icon48, .icon64 {
    .inline-block();
    .box-sizing(content-box);
}
.icon12 { .icon-size(12px; true) !important; }
.icon14 { .icon-size(14px; true) !important; }
.icon16 { .icon-size(16px; true) !important; }
.icon18 { .icon-size(18px; true) !important; }
.icon24 { .icon-size(24px; true) !important; }
.icon32 { .icon-size(32px; true) !important; }
.icon48 { .icon-size(48px; true) !important; }
.icon64 { .icon-size(64px; true) !important; }

[class*="@{icon-prefix}-"], [class^=" @{icon-prefix}-"] {
    position : relative;
}

.flexkit-icon,
[class*="@{icon-prefix}-"]::before, [class^=" @{icon-prefix}-"]::before,
[data-icon]::before {
    font-family             : @font-family-icons;
    speak                   : none;
    font-style              : normal;
    font-weight             : normal;
    text-transform          : none;
    line-height             : 1;
    position                : relative;
    text-align              : center;
    .inline-block();

    // Better Font Rendering
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]::before {
    content : attr(data-icon);
}
.icon-home:before {
    content: "\e000";
}
.icon-home2:before {
    content: "\e001";
}
.icon-news:before {
    content: "\e002";
}
.icon-paper:before {
    content: "\e002";
}
.icon-pencil:before {
    content: "\e003";
}
.icon-pencil2:before {
    content: "\e004";
}
.icon-pencil3:before {
    content: "\e005";
}
.icon-brush:before {
    content: "\e006";
}
.icon-camera:before {
    content: "\e007";
}
.icon-picture:before {
    content: "\e008";
}
.icon-movie2:before {
    content: "\e009";
}
.icon-film:before {
    content: "\e00a";
}
.icon-king:before {
    content: "\e00b";
}
.icon-queen:before {
    content: "\e00c";
}
.icon-announcement:before {
    content: "\e00d";
}
.icon-announcement2:before {
    content: "\e00e";
}
.icon-broadcast:before {
    content: "\e00f";
}
.icon-books:before {
    content: "\e010";
}
.icon-reading:before {
    content: "\e011";
}
.icon-file:before {
    content: "\e012";
}
.icon-file-add:before {
    content: "\e013";
}
.icon-file-remove:before {
    content: "\e014";
}
.icon-copy:before {
    content: "\e015";
}
.icon-stack:before {
    content: "\e016";
}
.icon-folder:before {
    content: "\e017";
}
.icon-folder2:before {
    content: "\e018";
}
.icon-folder-add:before {
    content: "\e019";
}
.icon-folder-remove:before {
    content: "\e01a";
}
.icon-folder-add2:before {
    content: "\e01b";
}
.icon-folder-remove2:before {
    content: "\e01c";
}
.icon-folder-download:before {
    content: "\e01d";
}
.icon-folder-upload:before {
    content: "\e01e";
}
.icon-folder-download2:before {
    content: "\e01f";
}
.icon-folder-upload2:before {
    content: "\e020";
}
.icon-folder3:before {
    content: "\e021";
}
.icon-folder4:before {
    content: "\e022";
}
.icon-tag2:before {
    content: "\e023";
}
.icon-tag3:before {
    content: "\e024";
}
.icon-barcode:before {
    content: "\e025";
}
.icon-barcode2:before {
    content: "\e026";
}
.icon-ticket:before {
    content: "\e027";
}
.icon-cart:before {
    content: "\e028";
}
.icon-cart2:before {
    content: "\e029";
}
.icon-cart3:before {
    content: "\e02a";
}
.icon-backet:before {
    content: "\e02b";
}
.icon-basket2:before {
    content: "\e02c";
}
.icon-basket3:before {
    content: "\e02d";
}
.icon-bag2:before {
    content: "\e02e";
}
.icon-bag:before {
    content: "\e02f";
}
.icon-coin:before {
    content: "\e030";
}
.icon-support:before {
    content: "\e031";
}
.icon-fax:before {
    content: "\e032";
}
.icon-phone:before {
    content: "\e033";
}
.icon-phone2:before {
    content: "\e034";
}
.icon-phone3:before {
    content: "\e035";
}
.icon-phone4:before {
    content: "\e036";
}
.icon-phone5:before {
    content: "\e037";
}
.icon-phone6:before {
    content: "\e038";
}
.icon-address:before {
    content: "\e039";
}
.icon-address2:before {
    content: "\e03a";
}
.icon-notebook:before {
    content: "\e03b";
}
.icon-mail:before {
    content: "\e03c";
}
.icon-mail2:before {
    content: "\e03d";
}
.icon-mail3:before {
    content: "\e03e";
}
.icon-mail4:before {
    content: "\e03f";
}
.icon-mail5:before {
    content: "\e040";
}
.icon-send:before {
    content: "\e041";
}
.icon-location:before {
    content: "\e042";
}
.icon-location2:before {
    content: "\e043";
}
.icon-location3:before {
    content: "\e044";
}
.icon-location4:before {
    content: "\e045";
}
.icon-map:before {
    content: "\e046";
}
.icon-map2:before {
    content: "\e047";
}
.icon-wrist-watch:before {
    content: "\e048";
}
.icon-calendar:before {
    content: "\e049";
}
.icon-calendar2:before {
    content: "\e04a";
}
.icon-calendar3:before {
    content: "\e04b";
}
.icon-calendar4:before {
    content: "\e04c";
}
.icon-printer:before {
    content: "\e04d";
}
.icon-printer2:before {
    content: "\e04e";
}
.icon-screen:before {
    content: "\e04f";
}
.icon-screen2:before {
    content: "\e050";
}
.icon-laptop:before {
    content: "\e051";
}
.icon-mobile:before {
    content: "\e052";
}
.icon-tablet:before {
    content: "\e053";
}
.icon-disk:before {
    content: "\e054";
}
.icon-cd:before {
    content: "\e055";
}
.icon-comments:before {
    content: "\e056";
}
.icon-comments2:before {
    content: "\e057";
}
.icon-comments3:before {
    content: "\e058";
}
.icon-comments4:before {
    content: "\e059";
}
.icon-comments5:before {
    content: "\e05a";
}
.icon-comments6:before {
    content: "\e05b";
}
.icon-comments7:before {
    content: "\e05c";
}
.icon-comments8:before {
    content: "\e05d";
}
.icon-comments9:before {
    content: "\e05e";
}
.icon-user:before {
    content: "\e05f";
}
.icon-user-add:before {
    content: "\e060";
}
.icon-user-remove:before {
    content: "\e061";
}
.icon-users:before {
    content: "\e062";
}
.icon-users2:before {
    content: "\e063";
}
.icon-quote2:before {
    content: "\e064";
}
.icon-quote22:before {
    content: "\e065";
}
.icon-quote3:before {
    content: "\e066";
}
.icon-quote4:before {
    content: "\e067";
}
.icon-search:before {
    content: "\e068";
}
.icon-zoom-in:before {
    content: "\e069";
}
.icon-zoom-out:before {
    content: "\e06a";
}
.icon-key:before {
    content: "\e06b";
}
.icon-key2:before {
    content: "\e06c";
}
.icon-locked:before {
    content: "\e06d";
}
.icon-unlocked:before {
    content: "\e06e";
}
.icon-locked2:before {
    content: "\e06f";
}
.icon-unlocked2:before {
    content: "\e070";
}
.icon-cogs:before {
    content: "\e071";
}
.icon-cogs2:before {
    content: "\e072";
}
.icon-cog:before {
    content: "\e073";
}
.icon-cog2:before {
    content: "\e074";
}
.icon-remove:before {
    content: "\e075";
}
.icon-remove2:before {
    content: "\e076";
}
.icon-remove3:before {
    content: "\e077";
}
.icon-remove4:before {
    content: "\e078";
}
.icon-remove5:before {
    content: "\e079";
}
.icon-clipboard:before {
    content: "\e07a";
}
.icon-clipboard2:before {
    content: "\e07b";
}
.icon-menu:before {
    content: "\e07c";
}
.icon-more-vert:before {
    content: "\e07d";
}
.icon-grid:before {
    content: "\e07e";
}
.icon-list:before {
    content: "\e07f";
}
.icon-list2:before {
    content: "\e080";
}
.icon-list3:before {
    content: "\e081";
}
.icon-grid2:before {
    content: "\e082";
}
.icon-list4:before {
    content: "\e083";
}
.icon-list5:before {
    content: "\e084";
}
.icon-menu2:before {
    content: "\e085";
}
.icon-menu4:before {
    content: "\e086";
}
.icon-link:before {
    content: "\e087";
}
.icon-link2:before {
    content: "\e088";
}
.icon-star:before {
    content: "\e089";
}
.icon-star2:before {
    content: "\e08a";
}
.icon-star3:before {
    content: "\e08b";
}
.icon-heart:before {
    content: "\e08c";
}
.icon-heart2:before {
    content: "\e08d";
}
.icon-thumbs-up:before {
    content: "\e08e";
}
.icon-thumbs-down:before {
    content: "\e08f";
}
.icon-male:before {
    content: "\e090";
}
.icon-female:before {
    content: "\e091";
}
.icon-reload:before {
    content: "\e092";
}
.icon-reload2:before {
    content: "\e093";
}
.icon-reload3:before {
    content: "\e094";
}
.icon-reload4:before {
    content: "\e095";
}
.icon-turn:before {
    content: "\e096";
}
.icon-expand:before {
    content: "\e097";
}
.icon-close:before {
    content: "\e098";
}
.icon-close2:before {
    content: "\e099";
}
.icon-close3:before {
    content: "\e09a";
}
.icon-checkmark:before {
    content: "\e09b";
}
.icon-checkmark2:before {
    content: "\e09c";
}
.icon-checkmark3:before {
    content: "\e09d";
}
.icon-add:before {
    content: "\e09e";
}
.icon-add-circle:before {
    content: "\e09f";
}
.icon-cancel-circle:before {
    content: "\e0a0";
}
.icon-check-circle:before {
    content: "\e0a1";
}
.icon-error-circle:before {
    content: "\e0a2";
}
.icon-info-circle:before {
    content: "\e0a3";
}
.icon-login:before {
    content: "\e0a4";
}
.icon-logout:before {
    content: "\e0a5";
}
.icon-arrow-up:before {
    content: "\e0a6";
}
.icon-arrow-right:before {
    content: "\e0a7";
}
.icon-arrow-down:before {
    content: "\e0a8";
}
.icon-arrow-left:before {
    content: "\e0a9";
}
.icon-arrow-up2:before {
    content: "\e0aa";
}
.icon-arrow-right2:before {
    content: "\e0ab";
}
.icon-arrow-down2:before {
    content: "\e0ac";
}
.icon-arrow-left2:before {
    content: "\e0ad";
}
.icon-arrow-up3:before {
    content: "\e0ae";
}
.icon-arrow-right3:before {
    content: "\e0af";
}
.icon-arrow-down3:before {
    content: "\e0b0";
}
.icon-arrow-left3:before {
    content: "\e0b1";
}
.icon-sort-up:before {
    content: "\e0b2";
}
.icon-arrow-right5:before {
    content: "\e0b3";
}
.icon-arrow-left4:before {
    content: "\e0b4";
}
.icon-sort-down:before {
    content: "\e0b5";
}
.icon-sort:before {
    content: "\e0b6";
}
.icon-delivery2:before {
    content: "\e0b7";
}
.icon-delivery22:before {
    content: "\e0b8";
}
.icon-delivery3:before {
    content: "\e0b9";
}
.icon-delivery4:before {
    content: "\e0ba";
}
.icon-delivery5:before {
    content: "\e0bb";
}
.icon-idcard:before {
    content: "\e0bc";
}
.icon-idcard2:before {
    content: "\e0bd";
}
.icon-idcard3:before {
    content: "\e0be";
}
.icon-mail-book:before {
    content: "\e0bf";
}
.icon-user-book:before {
    content: "\e0c0";
}
.icon-earth:before {
    content: "\e0c1";
}
.icon-gplus:before {
    content: "\e0c2";
}
.icon-facebook:before {
    content: "\e0c3";
}
.icon-twitter:before {
    content: "\e0c4";
}
.icon-feed:before {
    content: "\e0c5";
}
.icon-youtube:before {
    content: "\e0c6";
}
.icon-odnoklassniki:before {
    content: "\e0c7";
}
.icon-vimeo:before {
    content: "\e0c8";
}
.icon-blogger:before {
    content: "\e0c9";
}
.icon-pinterest:before {
    content: "\e0ca";
}
.icon-linkedin:before {
    content: "\e0cb";
}
.icon-vk:before {
    content: "\e0cc";
}
.icon-instagram-old:before {
    content: "\e0cd";
}
.icon-instagram:before {
    content: "\e0ce";
}
.icon-html5:before {
    content: "\e0cf";
}
.icon-html52:before {
    content: "\e0d0";
}
.icon-chrome:before {
    content: "\e0d1";
}
.icon-firefox:before {
    content: "\e0d2";
}
.icon-IE:before {
    content: "\e0d3";
}
.icon-opera:before {
    content: "\e0d4";
}
.icon-safari:before {
    content: "\e0d5";
}
.icon-toaster:before {
    content: "\e0d6";
}
.icon-file-zip:before {
    content: "\e0d7";
}
.icon-file-doc:before {
    content: "\e0d8";
}
.icon-file-pdf:before {
    content: "\e0d9";
}
.icon-bell:before {
    content: "\e0da";
}
.icon-arrow-right6:before {
    content: "\e0db";
}
.icon-arrow-left5:before {
    content: "\e0dc";
}
.icon-eye:before {
    content: "\e0dd";
}
.icon-clock:before {
    content: "\e0de";
}
.icon-light:before {
    content: "\e0df";
}
.icon-copyright:before {
    content: "\e0e0";
}
.icon-download:before {
    content: "\e0e1";
}
.icon-headphones:before {
    content: "\e0e2";
}
.icon-info:before {
    content: "\e0e3";
}
.icon-play-circle:before {
    content: "\e0e4";
}
.icon-pause-circle:before {
    content: "\e0e5";
}
.icon-remove-circle:before {
    content: "\e0e6";
}
.icon-network:before {
    content: "\e911";
}
.icon-tribune:before {
    content: "\e912";
}
.icon-map-marker:before {
    content: "\e90f";
}
.icon-stats:before {
    content: "\e906";
}
.icon-monitor:before {
    content: "\e906";
}
.icon-board:before {
    content: "\e906";
}
.icon-left-quote:before {
    content: "\e907";
}
.icon-quote:before {
    content: "\e907";
}
.icon-percent:before {
    content: "\e908";
}
.icon-target:before {
    content: "\e900";
}
.icon-book:before {
    content: "\e901";
}
.icon-plug:before {
    content: "\e902";
}
.icon-gift:before {
    content: "\e903";
}
.icon-drive:before {
    content: "\e909";
}
.icon-save:before {
    content: "\e909";
}
.icon-hdd:before {
    content: "\e909";
}
.icon-hard-disk:before {
    content: "\e909";
}
.icon-stats-bars:before {
    content: "\e90a";
}
.icon-stats2:before {
    content: "\e90a";
}
.icon-statistics:before {
    content: "\e90a";
}
.icon-chart:before {
    content: "\e90a";
}
.icon-truck:before {
    content: "\e90b";
}
.icon-transit:before {
    content: "\e90b";
}
.icon-transport:before {
    content: "\e90b";
}
.icon-delivery:before {
    content: "\e90b";
}
.icon-vehicle:before {
    content: "\e90b";
}
.icon-sphere:before {
    content: "\e90c";
}
.icon-globe:before {
    content: "\e90c";
}
.icon-internet:before {
    content: "\e90c";
}
.icon-coin-dollar:before {
    content: "\e90d";
}
.icon-money:before {
    content: "\e90d";
}
.icon-cash:before {
    content: "\e90d";
}
.icon-currency-dollar:before {
    content: "\e90d";
}
.icon-yelp:before {
    content: "\e904";
}
.icon-bbb:before {
    content: "\e905";
}
.icon-training:before {
    content: "\e910";
}
.icon-rocket:before {
    content: "\e90e";
}