// Table of Content
//==================================================
//	Links
//	Heading
//	Blockquotes
//  Toaster icon
//  Custom classes
//==================================================

// Links
//==================================================
a {
	color : @link-color;

	&:visited when not(@link-color-visited = none) {
		color : @link-color-visited;
	}

	&:hover {
		color : @link-color-hover
	}

	&:active {
		color : @link-color-active;
	}
}

// Heading
//==================================================
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top    : 1.5em;
	margin-bottom : 0.5em;
	color         : @heading-color;
	font-family   : @font-family-headings;
	& when not(@heading-weight = bold) and not (@heading-weight = 700) {
		font-weight : @heading-weight;
	}

	&:first-child:not(.logo) {
		margin-top : 0;
	}

	& when (@componentsJS) and (@widget-rotator) {
		.slide .slide-description & {
			color : @slider-heading-color;
		}
	}

	& when not(@footer-heading-color = @heading-color) {
		footer & {
			color : @footer-heading-color;
		}
	}

	&:empty {
		display : none;
	}
	& when (@heading-color = #fff) {
		#tinymce & {
			color : #000;
		}
	}

	.line-two-colors & {
		color : #FFF;
	}
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	& when (@heading-weight = bold) or (@heading-weight = 700) {
		font-weight : @heading-weight;
	}
}

h1, .h1, h2, .h2 {
	i {
		display   : block;
		font-size : 1.25em;
	}
}

h1, .h1 {
	margin-bottom : 1em;
	font-size     : 2.85em;
	&.page-title {
		margin-top       : 0;
		padding          : 0.5em 0;
		color            : #fff;
		background-color : @text-color;
		&::before {
			content          : '';
			position         : absolute;
			top              : 0;
			bottom           : 0;
			width            : 100vw;
			left             : 50%;
			right            : 50%;
			margin-left      : -50vw;
			margin-right     : -50vw;
			background-color : @text-color;
			z-index          : -1;
		}
	}

	.slide-description & {
		margin-bottom : 0;
		font-size     : 3em;
	}
	.page-limelight & {
		margin-top     : 0;
		margin-bottom  : 0.25em;
		letter-spacing : 5px;
		font-size      : 3.85em;
	}
	span{
		color: @brand-primary;
	}
}

h2, .h2 {
	font-size : 2.65em;
	&.page-title {
		margin-top       : 0;
		margin-bottom    : 0;
		color            : #fff;
		background-color : @text-color;
	}
}

h3, .h3 {
	font-size : 1.75em;
}

h4, .h4 {
	font-size : 1em;
	&.title {
		display : none;
	}
}

h5, .h5 {
	font-size : 0.875em;
}

h6, .h6 {
	font-size : 0.75em;
}

.subtitle {
	color     : @subheading-color;
	font-size : @font-size-mini;
}

p {
	margin-top    : 0;
	margin-bottom : 15px;
}

address {
	margin-bottom : 20px;
	font-style    : normal;
}